<% @content.each do |cont|  %>
<div class="ad" data-ad_id="<%= cont.content.id %>">
	<div class="row">
		<div class="title small-6 large-6 columns"> <h3><%= cont.title %></h3> </div>
		<div class="small-3 large-3 columns"></div>
		<div class="date small-3 large-3 columns"> <p> <%= cont.created_at.to_s.chomp('UTC') %> </p></div>
	</div>
	
	<div class="row">
		<div class="small-11 large-11 large-centered small-centered columns">
			<p> <%= cont.description %> </p>
		</div>
	</div>
	
	<div class="row">
		<div class="small-4 large-4 columns"> <p>Location: <%= "#{cont.city}, #{cont.street}" %> </p></div>
		<div class="small-4 large-4 columns"></div>
		<div class="small-4 large-4 columns"> <p>Finder: <%= "#{cont.user.first_name} #{cont.user.last_name}" %> </p></div>
	</div>

  <div class="row">
    <% if cont.content_type == "Pet" %>
      <div class="small-12 large-12 columns"><p>Pet type: <%= cont.content.pet_type %></p></div>
    <% elsif cont.content_type == "Doc" %>
      <div class="small-3 large-3 columns"><p>Doc type: <%= cont.content.doc_type %></p></div>
      <div class="small-3 large-3 columns"><p>Doc code: <%= cont.content.doc_code %></p></div>
      <div class="small-3 large-3 columns"><p>First name: <%= cont.content.first_name %></p></div>
      <div class="small-3 large-3 columns"><p>Last name: <%= cont.content.last_name %></p></div>
    <% elsif cont.content_type == "LicensePlate" %>
      <div class="small-12 large-12 columns"><p>Number: <%= cont.content.number %></p></div>
    <% end %>
  </div>

	<div class="row">
    <div class="small-3 large-1 columns"><%= link_to 'Show', cont.content, class: "button small success" %></div>
    <% if can? :edit, cont %>
      <div class="small-3 large-1 columns"><%= link_to 'Edit', edit_polymorphic_path(cont.content), class: "button small success" %></div>
    <% end %>

    <% if can? :destroy, cont %>
      <div class="small-2 large-1 columns">
        <% if cont.content_type == "Pet" %>
          <span class="deletePet button small alert">Delete</span>
        <% elsif cont.content_type == "Doc" %>
          <span class="deleteDoc button small alert">Delete</span>
        <% elsif cont.content_type == "LicensePlate" %>
          <span class="deleteLicense button small alert">Delete</span>
        <% end %>
       </div>
      <div class="small-2 large-1 columns"></div>
    <% end %>

	</div>
</div>  


<% end %>
<br>
<div class="small-5 large-5 large-centered small-centered columns ad">
  <div class="large-centered small-centered column">
    <%= will_paginate @content, renderer: FoundationPagination::Rails %>
  </div>
</div>
