
  <div class="row">
    <div class="small-12 large-6 columns large-centered small-centered ad">
      <h3>Sign up</h3>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <% unless devise_error_messages! == "" %>
            <div class="alert-box alert radius"><%= devise_error_messages!%></div>
          <% end %>

          <div><%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %></div>

          <div><%= f.text_field :last_name, placeholder: "Last Name" %></div>

          <div><%= f.text_field :phone, placeholder: "Phone"%></div>

          <div class="row collapse">
            <div class="small-1 large-1 columns">
              <span class="prefix">@</span>
            </div>
         <div class="small-11 large-11 columns"><%= f.email_field :email, autofocus: true, placeholder: "Email" %></div></div>
           <div><%= f.text_field :phone %></div>

          <div><%= f.password_field :password, autocomplete: "off", placeholder: "Password" %></div>

          <div><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %></div>

          <div><%= f.submit "Sign up", class: "button small" %></div>
        <% end %>
    </div>
  </div>

<%#= render "devise/shared/links" %>
