<div class="ad"><h1>Listing pets</h1></div>
 <%= link_to 'New Pet', new_pet_path, class: "button success" %>

<% @pets.each do |pet|  %>
<div class="ad">
	<div class="row">
		<div class="title small-6 large-6 columns"> <h3><%= pet.ad.title %></h3> </div>
		<div class="small-3 large-3 columns"></div>
		<div class="date small-3 large-3 columns"> <p> <%= pet.ad.created_at %> </p></div>
	</div>
	
	<div class="row">
		<div class="small-11 large-11 large-centered small-centered columns">
			<p> <%= pet.ad.description %> </p>
		</div>
	</div>
	
	<div class="row">
		<div class="small-4 large-4 columns"> <p>Location: <%= "#{pet.ad.city}, #{pet.ad.street}" %> </p></div>
		<div class="small-4 large-4 columns"></div>
		<div class="small-4 large-4 columns"> <p>Finder: <%= "#{pet.ad.user.first_name} #{pet.ad.user.last_name}" %> </p></div>
	</div>

  <div class="row">
    <div class="small-4 large-4 columns"><p>Pet type: <%= pet.pet_type %></p></div>
  </div>

	<div class="row">
    <div class="small-3 large-1 columns"><%= link_to 'Show', pet, class: "button small success" %></div>
    <% if user_signed_in? && current_user.id == pet.ad.user_id %>
      <div class="small-3 large-1 columns"><%= link_to 'Edit', edit_pet_path(pet), class: "button small success" %></div>
      <div class="small-2 large-1 columns"><%= link_to 'Destroy', pet, class: "button small alert", method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <div class="small-2 large-1 columns"></div>
    <% end %>
	</div>
</div>  



<% end %>
